.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1{
    font-size: 30px;
    font-weight: 700;
    color: #212121;
}
.explore-menu-text{
    max-width: 60%;
    color: #212121;
    columns: #808080;
}

.explore-menu-list{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    margin: 20px 0px;
    /* overflow-x: scroll; */
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.explore-menu-list-item p{
    margin: 15px 15px;
    color: #747474;
    min-width: (4.5vw, 20px);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    left: 3px;
}

.explore-menu hr{
    margin: 1rem 0px;
    background-color: #e2e2e2;
    height: 2px;
    border: none;
}

.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 3px;
}

@media (max-width:750px) {
    .explore-menu-text{
        max-width: 50%;
        font-size: 14px;
    }
}